table, th, td {
    border: none;
    padding: 8px 16px;
    text-align: left;
}

table {
    width: 95%;
}

th {
    color: #7c7c7c;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

td
{
    border-bottom: 1px solid rgba(255,255,255,0.05);
}

tr:not(:nth-child(1)):hover
{
    background: rgba(0,0,0,0.1);
}

th:nth-child(1),
td:nth-child(1) {
    width: 32px;
    
}


.pagination {
    margin-top: 48px;
    width: 95%;
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;

    button
    {
        border: 1px solid transparent;
        border-radius: 12px;

        &:hover
        {
            border: 1px solid rgba(255,255,255,0.1);
        }
    }
}

.searchbox
{
    padding: 8px;
    width: 95%;
    display: flex;
    align-items: center;

    .search-input
    {
        flex: 1;
    }

    .search-filters
    {
        flex: 1;
        display: flex;
        flex-direction: row-reverse;
        gap: 8px;
    }
}

.button {
    display: block;
    padding: 8px 16px;
    font-size: 12px;
    float: right;
    margin: 12px;
    background: transparent;
    outline: none;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    will-change: border-radius;
    transition: 0.2s;
    text-decoration: none;

    &:hover {
        border-radius: 12px;
    }
}

td.managers-list ::v-deep svg:not(:first-child) {
    margin-left: -24px;
    transition: 0.2s;
}

td.managers-list:hover ::v-deep svg {
    margin-left: 0;
}

.user-editor
{
    width: 95%;
    display: flex;
    margin-top: 24px;

    gap: 24px;

    div.preview
    {
        margin: auto;
    }
    
    div.editing
    {
        flex: 1;
        padding: 16px;
    }
}

.error-text
{
    color: rgb(202, 57, 57);
}

.avatar-box
{
    padding: 16px;
    border-radius: 16px;
    border: 1px solid rgba(255,255,255,0.1);
    background: rgba(0,0,0,0.1);
    cursOr: not-allowed;

    transition: 0.2s;

    &:hover
    {
        background: rgba(0,0,0,0.3);
    }
}