version: "3.9"

services:
  web:
    container_name: miyuki-web-dev
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "3000:3000"
    volumes:
      - .:/app
    environment:
      - NODE_ENV=development
      - MONGO_URI=mongodb://mongo:27017/miyuki_dev
    depends_on:
      - mongo
    command: pnpm dev --hostname 0.0.0.0

  mongo:
    image: mongo:5.0.2
    restart: unless-stopped
    volumes:
      - db:/data/db

volumes:
  db:
